= f.inputs do
  = f.input :username, :input_html => {:disabled => true}
  = f.input :email, :input_html => {:disabled => true}
  = f.input :password, :input_html => {:disabled => true}
  = f.input :password_confirmation, :input_html => {:disabled => true}
