%section
  %h1= "Update your account"
  
  = semantic_form_for(@user) do |f|
    = f.error_messages 
    = render :partial => "form", :locals => {:user => user, :f => f}

    = f.buttons do
      = f.commit_button "Update"
