%section
  %h1= "Sign up for an account"
  
  = semantic_form_for(@user) do |f|
    = f.error_messages  
    = render :partial => "form", :locals => {:user => @user, :f => f}

    = f.buttons do
      = f.commit_button "Sign Up"
