%section
  %div.contact
    %h1= "To order or to find out more, contact our manager:"
    %p= "350 - 1 First Canadian Place"
    %p= "P.O. Box 74"
    %p= "Toronto, ON"
    %p= "M5X 1C1"
    %p= "Tel: 416-277-6326"
    %p= "yolande.grant@gmail.com"
  %div.email
    -#= semantic_form_for user_email_new
