%section.carts

  %h1.must-sign-in= "You must be signed in to place an order"
  .sign-in
    = semantic_form_for @user_session, :url => sign_in_carts_path(:product_id => params[:product_id]) do |f|
      = f.inputs do
        = f.input :username
        = f.input :password
      = f.buttons do
        = f.commit_button "Submit"


    = link_to "Need an account? Get one here", new_user_path
