= f.inputs do
  = f.input :name
  = f.input :scientific_name
  = f.input :slug
  = f.input :price
  = f.input :quantity
  = f.input :packaging_type
  = f.input :parent_id, :as => :select, :collection => options_from_collection_for_select(Product.roots, 'id', 'name', product.ancestry)
  = f.input :description, :as => :text, :input_html => { :class => 'ckeditor' }, :label => "Description"
  %br
  = f.input :recommendations, :as => :text, :input_html => { :class => 'ckeditor' }, :label => "Recommendations"
  = f.input :available, :as => :boolean
  = f.input :in_stock, :as => :boolean
