= f.inputs do
  = f.input :name
  = f.input :scientific_name
  = f.input :slug
  = f.input :price
  = f.input :quantity
  = f.input :packaging_type
  = f.text_area :description, :class => 'ckeditor', :label => "Description"
  = f.input :parent_id, :as => :select, :collection => options_from_collection_for_select(Product.roots, 'id', 'name')
  %br
  = f.text_area :recommendations, :class => 'ckeditor', :label => "Recipe"
  = f.input :available, :as => :boolean
  = f.input :in_stock, :as => :boolean
