%section
  %h1= "Edit product"

  = semantic_form_for @product, :url => {:action => :update} do |f|
    = f.error_messages
    = render :partial => "form", :locals => {:product => @product, :f => f}

    = f.buttons do
      = f.commit_button "Edit"
