.mailing_list_modal{:id => "list_modal"}
  = image_tag("titlebar.jpg", :class => "top-bar")
  %h2= "Join our mailing list to stay informed!"
  = semantic_form_for MailingList.new, :url => mailing_lists_path do |f|
    = f.inputs do
      = f.input :email

      = f.input :receives_emails, :as => :boolean, :label => "I would like to receive regular email updates about new product arrivals and exciting deals."
    = f.buttons do
      = f.commit_button "Submit", :button_html => { :id => "submit_button", :class => "submit-button", :type => "image", :src => "assets/submit-button.jpeg" }
  = link_to "No Thanks", '#', :class => "cancel-button", :id => "cancel_button"

