%table.product-summary{:border => 3}
  %tr.product-info
    %td.coming-soon= image_tag("coming-soon.png", :alt => "Picture coming soon")
    %td
      %p= "Name: #{product.name}"
      %p= "Price: $#{product.price}"
      %p= "Package Type: #{product.packaging_type}"
      %b= product.in_stock ? "In Stock" : "Out of Stock"
  %tr.description
    %td{:colspan => 2}
      = "Description: #{product.truncated_descript}"
      %br
      = link_to "Click here to see more", product_path(product)

