%table.product-summary{:border => 3}
  %tr.product-info
    %td.coming-soon= image_tag("coming-soon.png", :alt => "Picture coming soon")
    %td
      %b= "Name:"
      %br
      #{product.name}
      %br
      %br
      %b= "Scientific Name:"
      %br
      - sci_name = product.scientific_name.present? ? product.scientific_name : "None"
      #{sci_name}
  %tr.description
    %td{:colspan => 2}
      = "Description: #{product.truncated_descript}"
      %br
      = link_to "Click here to see more", product_path(product)

