%section

  .full-product
    %h1= "Information on #{@product.name}"
    .info
      = image_tag("coming-soon-full.png", :alt => "Picture coming soon")

      %div.overview
        %b= "Product:"
        #{@product.name}
        %br
        - unless @product.scientific_name.blank?
          %b= "Scientific Name:"
          #{@product.scientific_name}

    .description
      %h3= "Description:"
      != @product.description
      %br
      %br
      %h3= "This product is available in the following types:"
      %table{:border => "3"}
        %tr
          %th="Name"
          %th="Packaging Type"
          %th="Price"
          %th="Status"
          -#%th
        - @product.children.each do |prod|
          %tr
            %td.name= prod.name
            %td.packaging= prod.packaging_type
            %td.price= number_to_currency(prod.price)
            %td
              %b= (prod.in_stock ? "In Stock" : "Out of Stock")
            -# %td= link_to (current_user.blank? ? "Order Now" : "Add to Cart"), sign_in_carts_path(:product_id => prod.id)
            
